@charset "UTF-8";
:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --primary: #235;
    --primary-hover: #379;
    --white: #eef;
    --overlay-color:#48d7;
}
*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline:0;
    font-family: var(--font-family-sans-serif);
}
button, select{
	border-radius: 5px;
    padding: 8px 25px;
    border-radius: 5px;
}
button{
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--white);
}
input{
	padding: 8px 25px;
	border-radius: 5px;
	background-color: var(--white);
}
button:hover{
	background-color: #346;
}
.body{
    margin-top: 50px;
}
.logs{
    color:red;
}
@media only screen and (max-width: 400px) {
    .body{
        margin-top: 0;
    }
}